.iw-form-editor .tiptap > * + * {
    margin-top: 0.75em;
}

.iw-form-editor .tiptap ul,
.iw-form-editor .tiptap ol {
    padding: 0 1rem;
}

.iw-form-editor .tiptap h1,
.iw-form-editor .tiptap h2,
.iw-form-editor .tiptap h3,
.iw-form-editor .tiptap h4,
.iw-form-editor .tiptap h5,
.iw-form-editor .tiptap h6 {
    line-height: 1.1;
}

.iw-form-editor .tiptap code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}

.iw-form-editor .tiptap pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.iw-form-editor .tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.iw-form-editor .tiptap img {
    max-width: 100%;
    height: auto;
}

.iw-form-editor .tiptap blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.iw-form-editor .tiptap hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

/** extension **/
.iw-form-editor .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/** button **/
.iw-form-editor button,
.iw-form-editor input,
.iw-form-editor select {
    font-size: inherit;
    font-family: inherit;
    color: #000;
    margin: 0.1rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.1rem 0.4rem;
    background: white;
    accent-color: black;
}

.iw-form-editor .is-active {
    background: black;
    color: #fff;
}
