.iwFormEditor {
    position: relative;
    border: 1px solid #c1c1c157;
    border-radius: 10px;
}

.iwFormEditorLengthInfo {
    @apply hover:bg-white/70 hover:dark:bg-slate-800/70 color-black dark:color-white rounded-md;
    bottom: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 1rem;
    opacity: 0.5;
    padding: 0.25rem;
    position: sticky;
    transition: color 0.25s, opacity 0.25s;
    width: fit-content;
}

.iwFormEditorLengthInfo.error {
    color: red !important;
    opacity: 1;
}

.iwFormEditorLengthInfo:hover {
    opacity: 1;
}

.iwFormEditorMenus {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* border-bottom: 2px solid #999999; */
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: -20px -20px 20px -20px; */
    padding: 0.5rem 0;
    position: sticky;
    top: 65px;
    z-index: 10;
}

.iwFormEditorMenus.sticky {
    /* border-top: 2px solid transparent; */
    box-shadow: 0px 3px 5px -3px rgba(51, 51, 51, 0.5);
}

.iwFormEditorMenus .divider {
    border: none;
    border-right: 2px solid rgba(51, 51, 51, 0.5);
    margin: 2px 10px;
    height: 15px;
}

.iwFormEditorMenus .toggleable {
    @apply !pointer-events-auto cursor-pointer;
}

.iwFormEditorMenu {
    display: flex;
    color: #333333;
    height: 24px;
    justify-content: center;
    margin-left: 4px;
    width: 24px;
}

.iwFormEditorMenu > input {
    border: none;
    margin-left: 4px;
}

.iwFormEditorMenu > input[type='color'] {
    width: 40px;
    height: 20px;
}

.iwFormEditorMenu > select {
    width: 40px;
    font-size: 14px;
}

.iwFormEditorMenuBtn {
    align-items: center;
    border-radius: 5px;
}

/* Cancel :hover if a div (dropdown) is hovered */
.iwFormEditorMenuBtn:hover:not(:has(div:hover)),
.iwFormEditorMenuBtn.active {
    @apply cursor-pointer bg-sky-100 dark:bg-sky-700 text-sky-600 dark:text-sky-50 border-sky-500 dark:border-sky-600;
}

.iwFormEditorMenu.active:not(.toggleable) {
    @apply cursor-default pointer-events-none;
}

.iwFormEditorMenu.disabled {
    color: rgba(51, 51, 51, 0.5);
    pointer-events: none;
}

.iwFormEditorMenuDropdown {
    @apply absolute bg-slate-100/95 color-black cursor-default mt-8 p-2 rounded-sm shadow translate-x-1/2 translate-y-1/2 min-w-40;
}

.iwFormEditorMenuDropdownColorList {
    @apply grid grid-cols-6 place-content-center gap-2;
}

.iwFormEditorMenuDropdownColorList > li {
    border-radius: 0.35rem;
    border-width: 1px;
    cursor: pointer;
    height: 1rem;
    transition: border-color 0.1s, border-radius 0.2s;
    width: 1rem;
}

.iwFormEditorMenuDropdownColorList > li.active {
    border-color: #555 !important;
    border-width: 2px !important;
}

.iwFormEditorMenuDropdownColorList > li:hover {
    border-radius: 1rem;
}

.iwFormEditorMenuDropdownColorListClearColor {
    @apply !block hover:!color-slate-500 !color-slate-700 h-full transition-all w-full;
}

.iwFormEditorMenuDropdownCustomColor {
    cursor: pointer;
    display: block;
    height: 1.25rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 2rem;
}

.iwFormEditorMenuDropdownEmbedAspectRatioLock {
    @apply color-slate-500 hover:color-slate-800 cursor-pointer transition-colors outline-none;
}

.iwFormEditorMenuDropdownEmbedAspectRatioLock.active {
    color: #000;
}

.iwFormEditorMenuDropdownEmbedInsertBtn {
    @apply block bg-slate-300/90 !color-slate-600 cursor-pointer mx-auto p-1 rounded-md select-none text-xs transition-colors w-fit;
}

.iwFormEditorMenuDropdownEmbedInsertBtn:disabled {
    @apply color-gray-900 cursor-default opacity-50;
}

.iwFormEditorMenuDropdownEmbedInsertBtn:hover:not(:disabled) {
    @apply bg-slate-400/90 !color-white;
}

.iwFormEditorMenuDropdownEmbedIframe {
    @apply mx-auto my-1;
}

.iwFormEditorMenuDropdownEmbedInputLabel {
    @apply block my-1 text-xs;
}

.iwFormEditorMenuDropdownEmbedConfigSection {
    @apply grid grid-cols-2 justify-items-center mb-2 mx-auto;
}

.iwFormEditorMenuDropdownEmbedInputUrl {
    @apply mb-2 rounded-sm text-blue-900 text-center text-xs underline w-full;
}

.iwFormEditorMenuDropdownEmbedConfigInput {
    @apply mx-1 px-1 rounded-sm text-center text-xs w-12;
}

.iwFormEditorMenuDropdownEmbedConfigLabel {
    @apply text-xs;
}

.iwFormEditorMenuHighlightIndicator {
    /* experimental feature */
    /* background-image: linear-gradient(to bottom, RGBA(255, 255, 255, 0) 85%, attr(data-highlight-color) 85%, attr(data-highlight-color) 90%, RGBA(255, 255, 255, 0) 90%); */
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.iwFormEditorContent {
    padding: 15px;
}

.iwFormEditor .tiptap > * + * {
    margin-top: 0.75em;
}

.iwFormEditor .tiptap ul,
.iwFormEditor .tiptap ol {
    padding-inline-start: 40px;
}

.iwFormEditor .tiptap ul {
    list-style-type: disc;
}

.iwFormEditor .tiptap ol {
    list-style-type: decimal;
}

.iwFormEditor .tiptap h1,
.iwFormEditor .tiptap h2,
.iwFormEditor .tiptap h3,
.iwFormEditor .tiptap h4,
.iwFormEditor .tiptap h5,
.iwFormEditor .tiptap h6 {
    line-height: 1.1;
}

.iwFormEditor .tiptap code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}

.iwFormEditor .tiptap pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.iwFormEditor .tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.iwFormEditor .tiptap img {
    max-width: 100%;
    height: auto;
}

.iwFormEditor .tiptap blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.iwFormEditor .tiptap hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

/** extension **/
.iwFormEditor .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.ProseMirror:focus-visible {
    outline: none;
}
